@font-face {
	font-family: 'ABCDiatypeVariable';
	src: url('./fonts/ABCDiatypeVariable.ttf') format("truetype");
}

@font-face {
    font-family: 'InterVariable';
    font-weight: 100 900;
    font-display: optional;
    src: url('./assets/fonts/Inter-VariableFont_slnt,wght.ttf') format("ttf")
}

@font-face {
    font-family: Marlin;
    font-weight: 100 900;
    font-display: fallback;
    src: url('./assets/fonts/marlin.woff2') format("woff2")
}

@font-face {
    font-family: Marlin Soft Basic;
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/SoftSQ-Medium.otf') format("opentype")
}

@font-face {
	font-family: 'DeterminationSansWeb';
	src: url('./assets/fonts/DeterminationSansWeb.woff') format("truetype");
}
