/* Reset some default styles */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: Inter, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Header styles with logo */
header {
    display: flex;
    flex-direction: column;
    background: #0d0d0d;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 15px;
    border-radius: 0;
}

/* Adjust the width to your desired size */
img {
    align-items: center;
    justify-content: center;
    width: 700px; /* Change this value as needed */
    height: auto; /* This maintains the aspect ratio */
}

header h1 {
    color:  #fff;
    font-size: 48px;
}

header p {
    position: relative;
    font-size: 23px;
    bottom: 30px;
    left: 10px;
    color:  #fff;
}

/* Apply styles to the <hr>/the divider element */
hr {
    border-color: #d1d1d1; /* Color of the line */
    border-width: 1px;  /* Width of the line */
    border-style: solid; /* Style of the line (e.g., solid, dashed, etc.) */
    margin: 15px 0;     /* Adjust the margin as needed for spacing */
}


discord-embed {
    position: relative; /* or absolute or fixed */
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 1; /* Adjust as needed */
}

button#dark-mode-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 5px;
}

section {
    background: #f0f0f0;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
    box-shadow: 0px 0px 10px #e6e6e6;
    display: flex;
    padding: 20px 20px 30px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* -------------------------------------------------------------------------------------- */

/* Navigation Bar */

nav {
    display: flex;
    position: fixed;
    top: 1;
    left: 0;
    right: 0;
    width: 183px;
    height: 1028px;
    padding-top: 1px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14.5px;
    flex-shrink: 0;
    z-index: 1000;
}

nav h2 { /* Nav Title Color */
    color: #6d1fdf;
    display: flex;
    width: 163px;
    height: 40px;
    padding: 1px 0px 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.5px;
    flex-shrink: 0;
}

nav a { /* Nav Links Colors */
    color: #050505;
}

nav div {
    color: #050505;
    border-radius: 0px 10px 10px 0px;
    background: #f0f0f0;
    display: flex;
    width: 183px;
    height: auto;
    padding: 5px 0px 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex-shrink: 0;
    z-index: -1;
}


/* -------------------------------------------------------------------------------------- */

h2 {
    font-size: 1.5rem;
    margin-bottom: -20px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0px;
}

a { /* Links */
    margin-bottom: 0px;
    font-weight: 600;
    text-decoration: none;
    color: #6d1fdf;
}

p { /* Descriptions */
    color: #242424;
    font-weight: 600;
}

footer {
    background-color: #0d0d0d;
    color: #3a3a3a;
    text-align: center;
    padding: 10px 0;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* Dark Mode */
.dark-mode {
    background-color: #050505;
    color: #fff;
}

.dark-mode header {
        background: linear-gradient(#0d0d0d, #050505);
    }

.dark-mode a {
    color: #6d1fdf;
}

.dark-mode header p {
    color: #fff;
}

.dark-mode p {
    color: #b9b9b9;
}


.dark-mode section {
    color: #eeeeee;
    background-color: #0d0d0d;
    border: 1px solid #202020;
    box-shadow: 0px 0px 0px #e6e6e6;
}

.dark-mode hr {
    border-color: #1a1a1a; /* Color of the line */
}

/* ------------------------------------------------------------------------------------------------------------------- */

.dark-mode nav div {
    background: #0D0D0D;
}

.dark-mode nav a { /* Nav Links Colors */
    color: #fff;
}


/* ------------------------------------------------------------------------------------------------------------------- */

/* Dark Scroll Bar */

::-webkit-scrollbar,
 ::-webkit-scrollbar-corner,
 ::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    background: var(--bg-color) !important;
    width: 8px
  }
::-webkit-scrollbar-button,
 ::-webkit-scrollbar-button {
    display: none !important;
  }
::-webkit-scrollbar-thumb,
 ::-webkit-scrollbar-thumb {
    background: #0d0d0d !important; /* Scroll Bar Color */
    width: 8px !important;
    border-radius: 10px;
     transition: .1s !important;
  }
::-webkit-scrollbar-thumb:not(:active):hover,
 ::-webkit-scrollbar-thumb:not(:active):hover {
    background: #181818 !important;
     transition: .1s !important;
  }
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover:active,
 ::-webkit-scrollbar-thumb:active,
 ::-webkit-scrollbar-thumb:hover:active {
    background: #202020 !important;
     transition: .1s !important;
  }

  /* ------------------------------------------------------------------------------------------------------------------- */