body {
  width: 1440px;
  height: 1024px;
  background: linear-gradient(0deg, #4200ff 0%, #4200ff 100%),
    radial-gradient(
      122.55% 107.03% at 50% -8.11%,
      #a692cd 0%,
      #a692cd 0.01%,
      #461c90 33.33%,
      #07040d 100%,
      #07040d 100%
    );
  background-blend-mode: hue, normal;
  font-family: "SF Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

.custom-layout {
  margin: 0;
  padding: 0;
}

.rectangle {
  width: 250px;
  height: 1024px;
  flex-shrink: 0;
  border: 0px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  position: relative;
}

.additional-rectangle {
  width: 1615px;
  height: 147px;
  margin-left: 27px;
  margin-top: -190px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  border-radius: 0px 0px 25px 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.05) 99.32%
  );
  position: relative; /* Add this for positioning the stroke */
}

.stroke-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fff;
  mix-blend-mode: difference;
  border-radius: 0px 0px 24px 0px;
}

.all-tools {
  width: 250px;
  height: 44px;
  position: absolute;
  top: 3%; /* Center the text vertically */
  left: 50%; /* Center the text horizontally */
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 20px #fff;
  font-family: "SF Pro", sans-serif;
  font-size: 40px;
  font-style: semibold;
  font-weight: 590; /* Change to numeric font-weight value */
  line-height: 100%; /* 40px */
}
.creatives {
  position: relative;
  top: 10%; /* Center the text vertically */
  left: 20px;
  color: #fff;
  font-family: SF Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 590;
  line-height: 100%; /* 24px */

  display: flex;
  width: 250px;
  height: 877px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex-shrink: 0;
}

.svg-down{
  position: relative;
  top: -5%; /* Center the text vertically */
  left: 203px;
  width: 13px;
  height: 8px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none"><path d="M6.5037 7.5C6.75322 7.49877 6.97901 7.40892 7.16452 7.22612L12.753 1.85838C12.9134 1.70795 13 1.52188 13 1.30401C13 0.854525 12.6279 0.5 12.1525 0.5C11.9201 0.5 11.7037 0.587391 11.538 0.740847L6.14433 5.92709H6.86233L1.46337 0.740847C1.30234 0.589869 1.08729 0.5 0.847579 0.5C0.370797 0.5 0 0.854525 0 1.30401C0 1.52064 0.0879289 1.70671 0.245731 1.86402L5.8368 7.22612C6.03439 7.41139 6.24943 7.5 6.5037 7.5Z" fill="white"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}

.dropdown{
  position: absolute;
  top: 0%; /* Center the text vertically */
  left: 50%; /* Center the text horizontally */
}

.welcome {
  position: relative;
  left: 30px;
  top: 15px;
  width: 310px;
  flex-shrink: 0;

  color: #fff;
  font-family: SF Pro Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
}

.submenu-text{
  position: relative;
  left: -202px;
  top: 70px;
  width: 310px;
  flex-shrink: 0;
  
  display: flex;
  width: 230px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  
  color: rgba(255, 255, 255, 0.60);
  font-family: SF Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%; /* 16px */
  letter-spacing: 1.2px;
}