@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'ABCDiatypeVariable';
	src: url('/assets/fonts/ABCDiatypeVariable.ttf') format("truetype");
}

.rainbow-text {
	background-image: repeating-linear-gradient(120deg, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #fff, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4);
	text-align: center;
	background-size: 350% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow 4s ease infinite;
	animation-direction: normal;
	color: transparent;
  }
  
  @keyframes rainbow { 
    0% { background-position: 100% 25% }
	100% { background-position: 0% 50% }
  }



.foxy {
	scale: 1;
    font-weight: 200;
    z-index: 10;
    transition: .5s ease;
	animation: scale-easeOutElastic 1s ease infinite;
}

.foxy:hover {
	animation: ;
}

@keyframes scale-easeOutElastic {
	0% {
		transform: scale(1);
	}

	33% {
		transform: scale(1.05);
	}

	66% {
		transform: scale(1.01);
	}

	100% {
		transform: scale(1);
	}

}




