@tailwind base;
@tailwind components;
@tailwind utilities;


/* Mac and Windows Icon */

.mac .windows {
	display: none;
}

.mac::before {
	content: "⌘";
}

.mac .shortcut {
	display: inline;
}

.windows .mac {
	display: none;
}

.windows::before {
	content: "CTRL";
}

.windows .shortcut {
      display: inline;
}



/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.rainbow-text {
	background-image: repeating-linear-gradient(120deg, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #fff, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4, #7463d4);
	text-align: center;
	background-size: 350% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow 4s ease infinite;
	animation-direction: normal;
	color: transparent;
  }
  
  @keyframes rainbow { 
    0% { background-position: 100% 25% }
	100% { background-position: 0% 50% }
  }

  .rainbow-text-404 {
	background-image: repeating-linear-gradient(120deg, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #fff, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b, #3b3b3b);
	text-align: center;
	background-size: 350% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbow404 4s ease infinite;
	animation-direction: normal;
	color: transparent;
  }
  
  @keyframes rainbow404 { 
    0% { background-position: 100% 25% }
	100% { background-position: 0% 50% }
  }



.foxy {
	scale: 1;
    font-weight: 200;
    z-index: 10;
    transition: .5s ease;
	animation: scale-easeOutElastic 1s ease infinite;
}

@keyframes scale-easeOutElastic {
	0% {
		transform: scale(1);
	}

	33% {
		transform: scale(1.05);
	}

	66% {
		transform: scale(1.01);
	}

	100% {
		transform: scale(1);
	}

}

.divider {
	border-top: 10px solid;
	border-radius: 10px;
  }

.darken {
	filter: brightness(0.6);
}

.minibutton {
    box-shadow: inset 0 0 0 0.1rem #ffffff16;
    border-radius: 0.6rem;
    background: #0a0a0a80;
    display: flex;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.minibuttonhover {
    background-color: #ffffff12;
}

.elu {
	background-image: repeating-linear-gradient(120deg, #94a3b8, #94a3b8, #94a3b8, #94a3b8, #94a3b8, #94a3b8, #94a3b8, #e3efff, #94a3b8, #94a3b8, #94a3b8, #94a3b8, #94a3b8, #94a3b8, #94a3b8);
	text-align: center;
	background-size: 350% 100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: elu 7s linear infinite;
	animation-direction: normal;
	color: transparent;
  }
  
  @keyframes elu { 
    0% { background-position: 100% 25% }
	100% { background-position: 0% 50% }
  }

.emoji {
    display: flex;
    display: inline-block;
    height: 1em;
    vertical-align: -0.20em;
    border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
	.dark-noise {
		background: linear-gradient(hsla(248, 60%, 5%, 0.85), hsla(248, 60%, 5%, 0.9)), url(/assets/etc/noise-light.png);
		height: 100vh;
		margin: auto;
		display: flex;
	}
  }

@media (prefers-color-scheme: light) {
.light-noise {
		background: linear-gradient(hsla(248, 60%, 95%, 0.6), hsla(248, 60%, 95%, 0.7)), url(/assets/etc/noise-light-dark.png);
		height: 100vh;
		margin: auto;
		display: flex;
	}
  }

/* Player CSS */

.jw-icon[button=vidsrc] {
    width: 90px;
    visibility: hidden;
}

.jw-icon[button=vidsrc] .jw-button-image {
    width: 70px;
    visibility: hidden;
}

/* ------------------ */

/* Mobile Menu */

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	z-index: 99;
	padding-top: 100px;
}

.is-active {
	display: none;

}

.placeholder::-webkit-input-placeholder {
	color: white;
}


@media (min-width: 768px) {
	.kbd-btn {
	left: 170px;
  }
}

@media (max-width: 852px) {
	.kbd-btn {
	left: 163px;
  }
}

@media (max-width: 850px) {
	.kbd-btn {
	display: none;
  }
}

/* --------------------------- */

.hover-fade {
	opacity: 1;
}

.hover-fade:hover {
	opacity: 0.8;
}

/* Buttons */

.btn-shadow {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	background: linear-gradient(hsla(0, 0%, 75%, 0.02), hsla(0, 0%, 0%, 0.02));
}

.btn-icon {
	box-shadow: 0px 1px 2px rgba(1, 1, 1, 0.5);
}

@media (prefers-color-scheme: light) {
	.download-shadow {
		box-shadow: 0px 4px 4px #b3adcf, 0px -3px 4px #b3adcf inset;
	}
}

@media (prefers-color-scheme: dark) {
	.download-shadow {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -3px 4px #120F26 inset;
	}
}



/* -------------------------------------- */

li::marker {
	content: '• ';
	font-size: 1em;
}

/* Pandabuy */

.hero-title {
  text-align: center;
  margin: 24px 0px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.3)) padding-box text;
  box-decoration-break: clone;
  -webkit-text-fill-color: transparent;
  color: unset;
  padding-bottom: 0.13em;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 600;
}


.explore-anim {
	animation: 1000ms ease 0s 1 normal backwards running kiriko;
  }

.main-anim {
	animation: 1200ms ease .05s 1 normal backwards running kiriko;
  }

@keyframes kiriko {
    0% {
		filter: blur(5px);
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		filter: blur(0px);
        opacity: 1;
        transform: translateY(0);
    }
}

.explore {
	display: flex;
	-moz-box-align: center;
	align-items: center;
	height: 28px;
	padding: 0px 12px;
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-radius: 100px;
	color: var(--color-text-primary);
	backdrop-filter: blur(12px);
	font-size: 13px;
	font-weight: 500;
	line-height: 28px;
	white-space: nowrap;
	transition-duration: 260ms;
	transition-timing-function: ease;
	transition-delay: 0s;
	transition-property: background, width;
	
  }

.explore:hover {
		background: rgba(255, 255, 255, 0.2);
  }

/* ----------------------------------------- */